#tituloPrincipal{
    color: red
}

.parrafos{
    text-align: center;
    color: greenyellow;
    font-weight: bold;
         
}

a{
    
    color: brown
    
}

h1,h2,h3 {
    
    color: blue
}
h1, p {
    
    
}


a{
  
    color: cyan
  
}

a:hover{
    background: blue;
    color:white;
}

a:active{
    background-color: red;
    color: black;
}

a:visited{
    
    font-size: 30px;
    
    
}
